//grid size
@size: 100% / 12;


//color
@dark: #222222;
@light: #ecf0f1;
@color: lighten(#ff9900, 10%);
@main: #43362b;

@var-gradient: 2%;
@active-shadow: .1;

//typo
@font-size: 16px;
@font-line-height: 24px;

//misc
@textbox-size: 6px;
