<!DOCTYPE html>
<html lang="en">
    <head>
    <!--   Meta Tags -->
        <meta charset="utf-8">
        <meta name="author" content="Your Name" />
    
    <!--   Mobile friendly-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--   Chrome on Andriod Theme Color in hex-->
        <meta name="theme-color" content="#ff8800">

    <!--   Google Fonts: Josefin Sans + Open Sans-->
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,600|Open+Sans:300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    <!--   Orange Engine Css -->
        <link rel="stylesheet" href="../css/main.min.css" />

        <title>Standard Template - Orange Engine</title>
    </head>
    <body>
       <div class="container-big">
           
           <div class="page-header">
               <h1>Header <small>Subheader</small></h1>
           </div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, enim. Ipsum voluptatum veritatis quam numquam omnis eligendi deserunt reiciendis laboriosam sed modi architecto, nesciunt nostrum doloremque, esse cupiditate tempora. Quaerat.</p>
           <p>Dolor dignissimos nihil modi inventore unde odit quidem soluta fuga nulla, et alias officiis quia consectetur. Reprehenderit ipsa molestiae corporis, quod rem, sit dolor iure iste necessitatibus. Blanditiis accusamus, nemo.</p>
           <p>Voluptas dicta sed adipisci reiciendis reprehenderit asperiores error officia. Ratione deleniti suscipit perspiciatis consequatur eum asperiores nostrum! Beatae voluptas laborum minus suscipit! Quaerat eaque harum at, consectetur nesciunt vitae, eveniet!</p>
           <p>Quis veritatis libero delectus in qui eum aliquam dolorum amet eligendi praesentium quia fuga veniam similique doloremque alias quibusdam explicabo nihil sequi consectetur, reiciendis, vitae omnis. Reiciendis cum omnis, modi.</p>
           <p>Pariatur ducimus modi culpa deleniti est, porro dolore veniam, aspernatur, ipsum ex officia consequuntur inventore vero. Non vitae similique, eius corporis, asperiores temporibus eum odit, quaerat quam eligendi commodi nesciunt?</p>
       </div>
    </body>
</html>